/*
Name: Sama Khalid
Date: May 2,2024
Section: CSE 154 AD
This is the styles.css page for my portfolio of web
development. It has a white background with a title that flips.
The title is also black. There is a lot of white space. It has
a grid that is very game like. It is interactive.
*/
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 20px;
  height: 40vh;
}

.word-card, .definition-card {
  border: 1px solid black;
  padding: 10px;
}

.word-card, .definition-card, button {
  cursor: pointer;
  transition: background-color 0.3s;
}

.word-card, .definition-card, body, #artwork-container p {
  text-align: center;
}

.word-card:hover, .definition-card:hover {
  background-color: #f0f0f0;
}

.word-card.selected {
  background-color: #add8e6;
}

.definition-card {
  background-color: #f5f5f5;
}

.error {
  color: red;
}

body {
  font-family: "Helvetica", "Verdana", sans-serif;
  font-size: 12pt;
}

.title, .waviy, h2, #rules p, #artwork-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 0;
}

.waviy {
  font-size: 120px;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.waviy .letter {
  display: inline-block;
  font-size: 50px;
  color: #020202;
  animation: flip 4s infinite;
  margin-right: 50px;
}

@keyframes flip {
  0%, 80% {
    transform: rotateY(360deg);
  }
}

h2, #details-bar {
  font-size: 30px;
}

.waviy .letter, h2, #details-bar, #rules p, .waviy {
  text-transform: uppercase;
}

h2 {
  text-decoration: line-through;
}

#rules, .title, #artworkContainer {
  height: 100vh;
}

#rules p {
  font-size: 15px;
}

#details-bar {
  margin-bottom: 50px;
  text-decoration: underline;
}

button {
  background-color: #0a0a0a;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 10px 20px;
}

button:hover {
  background-color: #f5ebe8;
}

#artwork-container {
  width: 100%;
}

#artwork-container img {
  max-width: 100%;
  height: auto;
}

#artwork-container p {
  margin-top: 5px;
}

#feedback {
  margin-top: 20px;
  font-size: 18px;
}
